/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/public/fotoprofile
/public/image_Akte
/public/image_KK
/public/image_KTPAyah
/public/image_KTPIbu
/public/image_Raport
/public/img
/public/Payment
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
